<?xml version="1.0" encoding="UTF-8"?>  
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"  
    id="cn.edu.gdmec.t00385.cordova.carrier"  
    version="0.0.1">  
    <name>NativePlugin</name>  
    <description>NativePlugin Sample</description>  
    <author>York Cui</author>  
    <license>Apache 2.0 License</license>  
    <engines>  
        <engine name="cordova" version=">=3.0.0" />  
    </engines>  
    <js-module src="www/carrier.js" name="carrier">  
        <clobbers target="Carrier" />  
    </js-module>  
    <platform name="android">  
        <source-file src="src/android/CarrierPlugin.java" target-dir="src/cn/edu/gdmec/t00385/cordova/carrier" />  
        <config-file target="res/xml/config.xml" parent="/*">  
            <feature name="CarrierPlugin">  
                <param name="android-package" value="cn.edu.gdmec.t00385.cordova.carrier.CarrierPlugin"/>  
            </feature>  
        </config-file>  
        <config-file target="AndroidManifest.xml" parent="/*">  
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />  
        </config-file>  
    </platform>  
</plugin>  